.add_todo {
	display: flex;
	column-gap: 10px;
	width: 450px;
}
.add_todo input {
    color: #333;
    border: 1px solid #666;
	height: 40px;
	width: 100%;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
.add_todo button {
	padding: 10px 16px;
	background-color: rgb(10, 88, 185);
	color: #fff;
	border: none;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
