.todos_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 80vh;
}
.todos_wrapper{
    width: 400px;
}
h1{
    text-align: center;
    margin-block: 30px;
}
.todos-headers ul{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    column-gap:  4rem;
     position: relative; 
  
}
.todos-headers ul::after{
   content: "";
    position: absolute;
    bottom: 6px;
    left: 0px;
    background-color: #666;
    width: 100%;
    height: 1px;
}
.todos-headers ul li{
    margin-bottom: 1.5rem;
     cursor: pointer;
    
}
.active{
    position: relative;
}
.active::after{
    content: "";
    position: absolute;
    bottom: -18px;
    left: -5px;
    background-color: blue;
    width: 120%;
    height: 4px;
}
.todos{
    line-height: 1.7;
    position: absolute;
    left: 0;
    top: 50px;
    width: 80vw;
    margin-top: 1rem;
   
}
.add_todo {
	display: flex;
	column-gap: 10px;
	width: 450px;
}
.add_todo input {
    color: #333;
    border: 1px solid #bdbdbd;
	height: 40px;
	width: 100%;
	padding-left: 0.7rem;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
.add_todo ::-webkit-input-placeholder{
	margin-left: 0.7rem;
	color: #bdbdbd;
}
.add_todo button {
	padding: 10px 16px;
	background-color: #2F80ED;
	color: #fff;
	border: none;
	box-shadow: 0px 3px 6px rgba(127, 177, 243, 0.4);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}
.tasks{
    line-height: 2.2;
}

.all_todos input:checked ~ label,
.active_todos input:checked ~ label {
    text-decoration: line-through;
}
.completed_todos .form-control{
    display: flex;
align-items: center;
justify-content: space-between;
width: 400px;
}
.delete{
   justify-self: flex-end;
   text-align: right;
    color: #828282;
}
.delete_all{
     background-color: #EB5757;
     color: white;
     border: none;
     padding: 8px 24px;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
}